// Colors
$bg: 						#dedede;
$name-and-tagline-bg: 		#f5f5f5;
$text: 						#1b1b1b;
$header-text: 				#222222;
$link: 						#0056ab;
$link-bg:		    		#e0efff;

$section-one: 				#d9d9d9;
$section-two: 				#cccccc;
$section-three:	    		#f3f3f3;

$twitter: 					#4099FF;
$facebook: 					#3B5998;
$facebook-bg: 				#bbc8e4;
$github: 					#042029;
$bolts: 					#c20200;
$bolts-bg: 					#ffdede;
$vfa: 						#F02938;