// Grids
@include add-grid(4);
@include add-grid(6 at 30em);
@include add-grid(9 at 45em);
@include add-grid(12 at 60em);

// Transitions

@import "compass/css3/transition";
@import "compass/css3/filter";
p, h1, h2, h3, h4, h5, img {
    @include transition(all 200ms linear);
}



body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000000em;
    margin: 0 auto;
    min-height: 100%;
}


$vertical-hero-width: 33.333333%;


.vertical-hero {
    display: none;
    @include breakpoint (60em) {
        background-image: url('../../assets/images/yang-talking-background-slide.jpg');
        display: block;
        position: fixed;
        background-repeat: no-repeat;
        width: $vertical-hero-width;
        background-size: cover;
        top: 0;
        left: 0;
        bottom: 0;
        overflow: hidden;
        z-index: 10;
    }
}

main {
    max-width: 75em;
    min-height: 100%;
    position: relative;
    @include breakpoint(60em) {
        width: 100 - $vertical-hero-width;
        margin-left: $vertical-hero-width;
    }
}


.landing-page-text{
    background-color: #e5e5e5;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-bottom: 1em;
    text-align: center;

    @include breakpoint(60em) {
        background-color: white;
        padding-top: 4em;
        text-align: left;
        width: 100%;
        margin: 0 auto;
    }

    @include breakpoint(92em) {
        padding-top: 7em;
    }
}

.landing-page-text > p {
    @include breakpoint(60em) {
        padding-top: 0.1em;
    }
}

img {
    max-width: 70%;
    margin-left: -1.9em;
}

#tagline {
    padding-top: 0.4em;
    @include breakpoint(45em) {
    }

    @include breakpoint(60em) {
        padding-top: 0em;
    }
}


.copy {
    margin: 0 auto;
    width: 80%;

    @include breakpoint(30em) {
        padding-top: 1em;
    }
    @include breakpoint(45em) {
        width: 65%;
    }

    @include breakpoint(60em) {
        padding: 0em;
    }
}

.copy, .landing-page-text {
    @include breakpoint(60em) {
        width: 80%;
    }

    @include breakpoint(75em) {
        width: 70%;
    }

    @include breakpoint(90em) {
        width: 60%;
    }
}

#learnmore, #supportvfa, #applynow {
    display: inline-block;
    padding: 0 2em 0 0;
}

@mixin landingpage-buttons {
    display: inline-block;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 5px solid;
    padding: 0.5em;
    padding-top: 0.7em;
}

#learnmore > a {
    @include landingpage-buttons;
}

#supportvfa > a {
    @include landingpage-buttons;
}

#applynow > a {
    @include landingpage-buttons;
}


