@import "singularitygs";
@import "compass/reset";
@import "partials/base";
@import "partials/typefaces";
@import "partials/colors";
@import "partials/text";
@import "partials/interaction";
@import "partials/header";


main {
	margin-top: 78px;
	width: 100%;
}

#copy {
	margin: 0 auto;
	padding: 1em;

	p {
		font: {
			weight: 400;
			size: 1.2em;
		}
		padding-bottom: 0.5em;
		line-height: 1.3;
	}

	h2 {
		font: {
			weight: 700;
			size: 1.4em;
		}
	}

	@include breakpoint(60em) {
		padding: 2em;
		margin: 0 auto;
		max-width: 48em;
		
		p {  
			padding-bottom: 0.8em;
			font-size: 1.5em;
		}

		h2 {
			padding-top: 0.4em;
			font-size: 1.7em;
		}
	}
}

#hangout-with-fellow-images {
	
}

.vertical-hero {
	display:none;
}

