html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'Fira';
  src: url("http://assets.labibrahman.com/typefaces/FiraSans/FiraSans-Light.eot");
  src: url("http://assets.labibrahman.com/typefaces/FiraSans/FiraSans-Light.eot?#iefix") format("embedded-opentype"), url("http://assets.labibrahman.com/typefaces/FiraSans/FiraSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Fira';
  src: url("http://assets.labibrahman.com/typefaces/FiraSans/FiraSans-LightItalic.eot");
  src: url("http://assets.labibrahman.com/typefaces/FiraSans/FiraSans-LightItalic.eot?#iefix") format("embedded-opentype"), url("http://assets.labibrahman.com/typefaces/FiraSans/FiraSans-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: Italic;
}
@font-face {
  font-family: 'Fira';
  src: url("http://assets.labibrahman.com/typefaces/FiraSans/FiraSans-Regular.eot");
  src: url("http://assets.labibrahman.com/typefaces/FiraSans/FiraSans-Regular.eot?#iefix") format("embedded-opentype"), url("http://assets.labibrahman.com/typefaces/FiraSans/FiraSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Fira';
  src: url("http://assets.labibrahman.com/typefaces/FiraSans/FiraSans-RegularItalic.eot");
  src: url("http://assets.labibrahman.com/typefaces/FiraSans/FiraSans-RegularItalic.eot?#iefix") format("embedded-opentype"), url("http://assets.labibrahman.com/typefaces/FiraSans/FiraSans-RegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Fira';
  src: url("http://assets.labibrahman.com/typefaces/FiraSans/FiraSans-Medium.eot");
  src: url("http://assets.labibrahman.com/typefaces/FiraSans/FiraSans-Medium.eot?#iefix") format("embedded-opentype"), url("http://assets.labibrahman.com/typefaces/FiraSans/FiraSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Fira';
  src: url("http://assets.labibrahman.com/typefaces/FiraSans/FiraSans-MediumItalic.eot");
  src: url("http://assets.labibrahman.com/typefaces/FiraSans/FiraSans-MediumItalic.eot?#iefix") format("embedded-opentype"), url("http://assets.labibrahman.com/typefaces/FiraSans/FiraSans-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Fira';
  src: url("http://assets.labibrahman.com/typefaces/FiraSans/FiraSans-Bold.eot");
  src: url("http://assets.labibrahman.com/typefaces/FiraSans/FiraSans-Bold.eot?#iefix") format("embedded-opentype"), url("http://assets.labibrahman.com/typefaces/FiraSans/FiraSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Fira';
  src: url("http://assets.labibrahman.com/typefaces/FiraSans/FiraSans-BoldItalic.eot");
  src: url("http://assets.labibrahman.com/typefaces/FiraSans/FiraSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("http://assets.labibrahman.com/typefaces/FiraSans/FiraSans-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
main {
  font-family: "Fira";
  font-weight: 400;
}

p {
  font-family: "Fira";
  font-weight: 400;
  font-size: 1.15em;
  color: #1b1b1b;
  line-height: 1.25em;
}
@media (min-width: 30em) {
  p {
    font-size: 1.3em;
  }
}
@media (min-width: 45em) {
  p {
    font-size: 1.35em;
  }
}
@media (min-width: 60em) {
  p {
    font-size: 1.35em;
  }
}
p b {
  font-weight: 500;
}

a {
  font-weight: 400;
  text-decoration: none;
  color: #0056ab;
}
a:hover {
  background-color: #e0efff;
}

.name-and-tagline > h1 {
  color: #1b1b1b;
  font-family: "Fira";
  font-weight: 700;
  font-size: 1.6em;
}
@media (min-width: 30em) {
  .name-and-tagline > h1 {
    font-size: 1.7em;
    line-height: 1.2em;
  }
}
@media (min-width: 45em) {
  .name-and-tagline > h1 {
    font-size: 2em;
  }
}
@media (min-width: 60em) {
  .name-and-tagline > h1 {
    font-size: 2.4em;
    line-height: 1.4em;
  }
}

.name-and-tagline > p {
  @inlcude name-and-tagline-text;
  color: #1b1b1b;
  font-weight: 300;
  font-size: 1.3em;
}
@media (min-width: 30em) {
  .name-and-tagline > p {
    font-size: 1.7em;
    line-height: 1.2em;
  }
}
@media (min-width: 45em) {
  .name-and-tagline > p {
    font-size: 1.7em;
  }
}
@media (min-width: 60em) {
  .name-and-tagline > p {
    font-size: 1.8em;
    line-height: 1.4em;
  }
}

.copy > p:first-child {
  font-weight: 500;
  color: #1b1b1b;
  padding-bottom: 0.3em;
}
@media (min-width: 30em) {
  .copy > p:first-child {
    font-size: 1.4em;
  }
}
@media (min-width: 45em) {
  .copy > p:first-child {
    font-size: 1.8em;
  }
}
@media (min-width: 60em) {
  .copy > p:first-child {
    font-size: 1.8em;
  }
}

.twitter {
  color: #4099ff;
}

.facebook {
  color: #3b5998;
}
.facebook:hover {
  background-color: #bbc8e4;
}

.github {
  color: #042029;
}
.github:hover {
  background-color: #f3f3f3;
}

#getintouch > p {
  color: #1b1b1b;
}
#getintouch > p:hover {
  background-color: #dedede;
}

p, h1, h2, h3, h4, h5, img {
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1000000em;
  margin: 0 auto;
  min-height: 100%;
}

.vertical-hero {
  display: none;
}
@media (min-width: 60em) {
  .vertical-hero {
    background-image: url("http://i4.minus.com/irHx8R01xbmjF.jpg");
    display: block;
    position: fixed;
    background-repeat: no-repeat;
    width: 35%;
    background-size: cover;
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    /* Firefox 3.5+ */
    -webkit-filter: grayscale(95%);
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 10;
  }
}

main {
  max-width: 75em;
  min-height: 100%;
  position: relative;
}
@media (min-width: 60em) {
  main {
    width: 65%;
    margin-left: 35%;
  }
}

.name-and-tagline {
  background-color: #e5e5e5;
  padding-top: 2em;
  padding-bottom: 2em;
  margin-bottom: 1em;
  text-align: center;
}
@media (min-width: 60em) {
  .name-and-tagline {
    background-color: white;
    padding-top: 4em;
    text-align: left;
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 92em) {
  .name-and-tagline {
    padding-top: 7em;
  }
}

#tagline {
  padding-top: 0.4em;
}
@media (min-width: 60em) {
  #tagline {
    padding-top: 0em;
  }
}

.copy {
  margin: 0 auto;
  width: 80%;
}
@media (min-width: 30em) {
  .copy {
    padding-top: 1em;
  }
}
@media (min-width: 45em) {
  .copy {
    width: 65%;
  }
}
@media (min-width: 60em) {
  .copy {
    padding: 0em;
  }
}

@media (min-width: 60em) {
  .copy, .name-and-tagline {
    width: 80%;
  }
}
@media (min-width: 75em) {
  .copy, .name-and-tagline {
    width: 70%;
  }
}
@media (min-width: 90em) {
  .copy, .name-and-tagline {
    width: 60%;
  }
}

#getintouch > p {
  display: inline-block;
  margin-top: 1em;
  margin-bottom: 1em;
  border: 2px solid #1b1b1b;
  padding: 0.5em;
  padding-top: 0.7em;
}
#getintouch > p:hover {
  background-color: #dedede;
}

.non-existent-div {
  position: absolute;
}
