html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'Fira';
  src: url("http://assets.labibrahman.com/typefaces/FiraSans/FiraSans-Light.eot");
  src: url("http://assets.labibrahman.com/typefaces/FiraSans/FiraSans-Light.eot?#iefix") format("embedded-opentype"), url("http://assets.labibrahman.com/typefaces/FiraSans/FiraSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Fira';
  src: url("http://assets.labibrahman.com/typefaces/FiraSans/FiraSans-LightItalic.eot");
  src: url("http://assets.labibrahman.com/typefaces/FiraSans/FiraSans-LightItalic.eot?#iefix") format("embedded-opentype"), url("http://assets.labibrahman.com/typefaces/FiraSans/FiraSans-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: Italic;
}
@font-face {
  font-family: 'Fira';
  src: url("http://assets.labibrahman.com/typefaces/FiraSans/FiraSans-Regular.eot");
  src: url("http://assets.labibrahman.com/typefaces/FiraSans/FiraSans-Regular.eot?#iefix") format("embedded-opentype"), url("http://assets.labibrahman.com/typefaces/FiraSans/FiraSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Fira';
  src: url("http://assets.labibrahman.com/typefaces/FiraSans/FiraSans-RegularItalic.eot");
  src: url("http://assets.labibrahman.com/typefaces/FiraSans/FiraSans-RegularItalic.eot?#iefix") format("embedded-opentype"), url("http://assets.labibrahman.com/typefaces/FiraSans/FiraSans-RegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Fira';
  src: url("http://assets.labibrahman.com/typefaces/FiraSans/FiraSans-Medium.eot");
  src: url("http://assets.labibrahman.com/typefaces/FiraSans/FiraSans-Medium.eot?#iefix") format("embedded-opentype"), url("http://assets.labibrahman.com/typefaces/FiraSans/FiraSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Fira';
  src: url("http://assets.labibrahman.com/typefaces/FiraSans/FiraSans-MediumItalic.eot");
  src: url("http://assets.labibrahman.com/typefaces/FiraSans/FiraSans-MediumItalic.eot?#iefix") format("embedded-opentype"), url("http://assets.labibrahman.com/typefaces/FiraSans/FiraSans-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Fira';
  src: url("http://assets.labibrahman.com/typefaces/FiraSans/FiraSans-Bold.eot");
  src: url("http://assets.labibrahman.com/typefaces/FiraSans/FiraSans-Bold.eot?#iefix") format("embedded-opentype"), url("http://assets.labibrahman.com/typefaces/FiraSans/FiraSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Fira';
  src: url("http://assets.labibrahman.com/typefaces/FiraSans/FiraSans-BoldItalic.eot");
  src: url("http://assets.labibrahman.com/typefaces/FiraSans/FiraSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("http://assets.labibrahman.com/typefaces/FiraSans/FiraSans-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
main {
  font-family: "Fira";
  font-weight: 400;
}

p {
  font-family: "Fira";
  font-weight: 400;
  font-size: 1.15em;
  color: #1b1b1b;
  line-height: 1.25em;
}
@media (min-width: 30em) {
  p {
    font-size: 1.3em;
  }
}
@media (min-width: 45em) {
  p {
    font-size: 1.35em;
  }
}
@media (min-width: 60em) {
  p {
    font-size: 1.35em;
  }
}
p b {
  font-weight: 500;
}

a {
  font-weight: 400;
  text-decoration: none;
}

.landing-page-text > h1 {
  color: #1b1b1b;
  font-family: "Fira";
  font-weight: 700;
  font-size: 1.6em;
}
@media (min-width: 30em) {
  .landing-page-text > h1 {
    font-size: 1.7em;
    line-height: 1.2em;
  }
}
@media (min-width: 45em) {
  .landing-page-text > h1 {
    font-size: 2em;
  }
}
@media (min-width: 60em) {
  .landing-page-text > h1 {
    font-size: 2.4em;
    line-height: 1.4em;
  }
}

.landing-page-text > p {
  @inlcude landing-page-text-text;
  color: #1b1b1b;
  font-weight: 400;
  font-size: 1.3em;
}
@media (min-width: 30em) {
  .landing-page-text > p {
    font-size: 1.7em;
    line-height: 1.2em;
  }
}
@media (min-width: 45em) {
  .landing-page-text > p {
    font-size: 1.7em;
  }
}
@media (min-width: 60em) {
  .landing-page-text > p {
    font-size: 2.3em;
    line-height: 1.4em;
  }
}

.copy > p:first-child {
  font-weight: 500;
  color: #1b1b1b;
  padding-bottom: 0.3em;
}
@media (min-width: 30em) {
  .copy > p:first-child {
    font-size: 1.4em;
  }
}
@media (min-width: 45em) {
  .copy > p:first-child {
    font-size: 1.8em;
  }
}
@media (min-width: 60em) {
  .copy > p:first-child {
    font-size: 1.8em;
  }
}

.twitter {
  color: #4099ff;
}

.facebook {
  color: #3b5998;
}
.facebook:hover {
  background-color: #bbc8e4;
}

.github {
  color: #042029;
}
.github:hover {
  background-color: #f3f3f3;
}

#learnmore a {
  padding: 0.6em 0.8em 0.6em 0.8em;
  border-color: #d9d9d9;
  background-color: #d9d9d9;
}
#learnmore a:hover {
  border-color: #1b1b1b;
  background-color: #1b1b1b;
}
#learnmore a:hover p {
  color: white;
}

#supportvfa a {
  padding: 0.6em 0.7em 0.6em 0.7em;
  border-color: #0045b5;
  background-color: #0045b5;
}
#supportvfa a:hover {
  border-color: #002868;
  background-color: #002868;
}
#supportvfa a p {
  color: white;
}

#applynow a {
  padding: 0.6em 1.1em 0.6em 1.1em;
  border-color: #d43f3a;
  background-color: #d43f3a;
}
#applynow a:hover {
  border-color: #bf0a30;
  background-color: #bf0a30;
}
#applynow a p {
  color: white;
}

header {
  background-color: #f3f3f3;
  width: 100%;
  height: 76px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

#logo {
  margin: 0.8em 1em 0 1em;
  float: left;
  width: 200px;
  height: 50px;
  background-size: cover;
  background: url(../../../assets/images/resized-header-logo.png);
  display: block;
}

nav {
  float: right;
  padding: 20px;
}

#menu-icon {
  display: hidden;
  width: 40px;
  height: 40px;
  background: #1b1b1b url(../../../assets/images/responsive-menu-icon.png) center;
}

a:hover#menu-icon {
  background-color: #444;
  border-radius: 4px 4px 0 0;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  float: left;
  padding: 0.5em;
}
li a {
  color: #1b1b1b;
  font-family: Fira;
  font-weight: 300;
  font-size: 1.2em;
  padding: 0.1em 0.5em 0.1em 0.5em;
}
li a:hover {
  background-color: #cccccc;
}
li .current {
  background-color: black;
  color: white;
}
li .current:hover {
  background-color: black;
}

@media only screen and (max-width: 640px) {
  header {
    position: absolute;
  }

  #menu-icon {
    display: inline-block;
  }

  nav ul, nav:active ul {
    display: none;
    position: absolute;
    padding: 20px;
    background: #fff;
    border: 5px solid #444;
    right: 20px;
    top: 60px;
    width: 50%;
    border-radius: 4px 0 4px 4px;
  }

  nav li {
    text-align: center;
    width: 100%;
    padding: 10px 0;
    margin: 0;
  }

  nav:hover ul {
    display: block;
  }
}
main {
  margin-top: 78px;
  width: 100%;
}

#copy {
  margin: 0 auto;
  padding: 1em;
}
#copy p {
  font-weight: 400;
  font-size: 1.2em;
  padding-bottom: 0.5em;
  line-height: 1.3;
}
#copy h2 {
  font-weight: 700;
  font-size: 1.4em;
}
@media (min-width: 60em) {
  #copy {
    padding: 2em;
    margin: 0 auto;
    max-width: 48em;
  }
  #copy p {
    padding-bottom: 0.8em;
    font-size: 1.5em;
  }
  #copy h2 {
    padding-top: 0.4em;
    font-size: 1.7em;
  }
}

#hangout-with-fellow {
  margin: 0 auto;
  max-width: 1200px;
}

.hangout-with-fellow-images {
  margin-bottom: -1em;
  padding: 0 1em 0 1em;
  width: 200px;
}

.vertical-hero {
  display: none;
}
